<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<h:outputStylesheet library="css" name="style-admin.css" />
</h:head>

<h:body>
	<h:form>
		<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#{request.contextPath}/index.xhtml">Terreno
					Benzido</a>
			</div>
			<div id="navbar" class="navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="#{lista}"><h:link value="Lista" outcome="/cartas/lista" /></li>
					<li class="#{cadastro}"><h:link value="Cadastro"
							outcome="/cartas/form" /></li>
				</ul>
			</div>
		</div>
		</nav>
	</h:form>


	<div class="container">
		<ui:insert name="body" />
	</div>
</h:body>
</html>