<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<h:outputStylesheet library="css" name="styles.css" />
</h:head>

<h:body>
	<h:form>
		<header class="site-header sticky-top py-1"> <nav
			class="container d-flex flex-column flex-md-row justify-content-between">
		<a class="navbar-brand mb-0 h1"
			href="#{request.contextPath}/index.xhtml">Terreno Benzido</a> <a
			class="py-2 d-none d-md-inline-block"
			href="#{request.contextPath}/carrinho/carrinho.xhtml">Carrinho</a> </nav> </header>
	</h:form>


	<H1 class='text-white'>Perfil</H1>

	<h:dataTable var="cliente"
		value="#{clienteBean.procuraEmail(request.getSession().getAttribute('u_email'))}"
		class="table table-bordered table-striped table-hover bg-white">
		<h:column>
			<f:facet name="header">Nome</f:facet>
        	 #{cliente.nomeCompleto}
        </h:column>
		<h:column>
			<f:facet name="header">Data de Nascimento</f:facet>
        	 #{cliente.dataNascimento}
        </h:column>
		<h:column>
			<f:facet name="header">Email</f:facet>
        	 #{cliente.email}
        </h:column>
		<h:column>
			<f:facet name="header">cpf</f:facet>
        	 #{cliente.cpf}
        </h:column>
		<h:column>
			<f:facet name="header">endereços</f:facet>
			<ui:repeat value="#{cleinte.enderecos}" var="endereco">
                #{enderecos.cidade}
            </ui:repeat>
		</h:column>
		<h:column>
			<f:facet name="header">Cartões</f:facet>
			<ui:repeat value="#{cleinte.cartoes}" var="cartao">
                #{cartao.numeroCartao}
            </ui:repeat>
		</h:column>
	</h:dataTable>
</h:body>

</html>
