<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<h:outputStylesheet library="css" name="style-admin.css" />
</h:head>

<f:metadata>
	<f:viewParam id="id" name="id" value="#{cartaDetalheBean.id}" />
	<f:viewAction action="#{cartaDetalheBean.carregaDetalhe()}" />
</f:metadata>

<head>
<title>#{cartaDetalheBean.carta.nome}</title>

</head>
<body>

	<h:form>
		<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#{request.contextPath}/index.xhtml">Terreno
					Benzido</a>
			</div>

		</div>
		</nav>
	</h:form>


	<section>
	<div class="container">
		<div class="row">
			<div class='col-6'>
				<ul>
					<li>
						<p>#{cartaDetalheBean.carta.nome}</p>
					</li>
					<li>
						<p>#{cartaDetalheBean.carta.descricao}</p>
					</li>
					<li>
						<p>#{cartaDetalheBean.carta.raridade}</p>
					</li>
					<li>
						<p>#{cartaDetalheBean.carta.preco}</p>
					</li>
				</ul>
			</div>
			<div class='col-6'>
				<img class="w-50"
					src="#{request.contextPath}/file/#{cartaDetalheBean.carta.imagemPath}"
					alt="#{cartaDetalheBean.carta.nome}"
					title="#{cartaDetalheBean.carta.nome}" />
			</div>

		</div>

	</div>


	</section>


</body>
</html>