<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<head>
<meta http-equiv="Content-Type" content="text/html
set=ISO-8859-1" />
<title>Terreno Benzido</title>
</head>


<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<h:outputStylesheet library="css" name="styles.css" />
</h:head>

<h:body>
	<h:form>
		<header class="site-header sticky-top py-1"> <nav
			class="container d-flex flex-column flex-md-row justify-content-between">
		<a class="navbar-brand mb-0 h1"
			href="#{request.contextPath}/index.xhtml">Terreno Benzido</a> <a
			class="py-2 d-none d-md-inline-block"
			href="#{request.contextPath}/cadastroCliente.xhtml">Cadastro</a> <a
			class="py-2 d-none d-md-inline-block"
			href="#{request.contextPath}/login.xhtml">Login</a> <a
			class="py-2 d-none d-md-inline-block"
			href="#{request.contextPath}/carrinho.xhtml">Carrinho</a> 
			<c:if
				test="#{request.getSession(false).getAttribute('u_funcao') == 'ADMIN'}"><a
			class="py-2 d-none d-md-inline-block"
			href="#{request.contextPath}/admin/cartas/lista.xhtml">Lista</a> 
			</c:if>
			<h:commandButton
			value="logout" action="#{clienteBean.logout}" /> <c:if
			test="#{clienteBean.request.getSession(false).getAttribute('u_email') != null}">
		</c:if> #{request.getSession(false).getAttribute("u_email")} </nav> </header>
	</h:form>
	o session email e diferente de null #{request.getSession(false).getAttribute("u_email") != null} 
	<p></p>
	#{request.getSession(false).getAttribute("u_nome")}
	#{request.getSession(false)}
</h:body>
</html>