<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:metadata>
	<f:viewParam id="id" name="id" value="#{adminUpdateCartaBean.id}" />
	<f:viewAction action="#{adminUpdateCartaBean.carregaDetalhe()}" />
</f:metadata>

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<h:outputStylesheet library="css" name="style-admin.css" />
</h:head>

<h:body styleClass="center">
	<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<h:link value="Terreno Benzido" outcome="/index.xhtml"
				styleClass="navbar-brand" />
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><h:link value="Lista" outcome="lista" /></li>
				<li class="active"><a href="#">Cadastro</a></li>
			</ul>
		</div>
	</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-10">
				<h2>Atualização de Carta</h2>
				<h:form enctype="multipart/form-data">
					<div class="form-group">
						<h:outputLabel value="Nome da Carta" />
						<h:inputText value='#{adminUpdateCartaBean.carta.nome}'
							required="true" id="titulo" styleClass="form-control" />

						<h:message for='titulo' />
					</div>
					<div class="form-group">
						<h:outputLabel value="Descrição da Carta" />
						<h:inputText value='#{adminUpdateCartaBean.carta.descricao}'
							required="true" id="descricao" styleClass="form-control" />

						<h:message for='descricao' />
					</div>
					<div class="form-group">
						<h:outputLabel value="Preço" />
						<h:inputText value='#{adminUpdateCartaBean.carta.preco}'
							required="true" id='preco' styleClass="form-control" />

						<h:message for='preco' />
					</div>
					<div class="form-group">
						<h:outputLabel value="Raridade" />
						<h:inputText value='#{adminUpdateCartaBean.carta.raridade}'
							id="raridade" styleClass="form-control" />

						<h:message for="raridade" />
					</div>
					<h:inputHidden value="#{adminUpdateCartaBean.estoque.id}"
						id="estoqueId" />
					<h:inputHidden value="#{adminUpdateCartaBean.carta.id}"
						id="cartaId" />
						<h:inputHidden value="#{adminUpdateCartaBean.carta.imagemPath}"
						id="cartaimagemCarta" />
					<div class="form-group">

						<h:outputLabel value="Quantidade" />
						<h:inputText value='#{adminUpdateCartaBean.estoque.quantidade}'
							id="quantidade" styleClass="form-control" />

						<h:message for="quantidade" />
					</div>
					<div class="form-group my-4">
						<div>
							<img
								src="#{request.contextPath}/file/#{adminUpdateCartaBean.carta.imagemPath}"
								height="30%" width="30%" />
						</div>
						<h:outputLabel value="Imagem da Carta" />
						<h:inputFile value="#{adminUpdateCartaBean.imagemCarta}"
							id="imagemCarta" styleClass="form-control" />
						<h:message for="imagemCarta" />
					</div>
					<h:commandButton value='Atualizar'
						action='#{adminUpdateCartaBean.salvar}'
						styleClass="btn btn-primary my-3">
						
					</h:commandButton>
				</h:form>
			</div>
		</div>
	</div>
</h:body>

</html>
